# =========================
# Path base: DeepCoV/
# =========================

# ---- ablation ----
ablation/analysis/
ablation/bak/
ablation/checkpoints/
ablation/generate_repeat_scripts_module_ablation_test.sh
ablation/plots/
ablation/results/
ablation/train_ablation.sh

# ---- benchmark ----
benchmark/bak_revision/
benchmark/DMS/fitting/data/
benchmark/DMS/fitting/log/
benchmark/DMS/fitting/results/
benchmark/E2VD/data/
benchmark/E2VD/log/
benchmark/E2VD/model/
benchmark/E2VD/results/
benchmark/EVEscape/data/
benchmark/growth_advantage/logs/
benchmark/growth_advantage/rbd_test_JN1era_ga.csv
benchmark/growth_advantage/rbd_test_XBBera_ga.csv
benchmark/growth_advantage/results/
benchmark/growth_advantage/spike_test_JN1era_ga.csv
benchmark/MLR/analysis/
benchmark/MLR/plots/
benchmark/MLR/results/
benchmark/plots/
benchmark/submit_sim.sh

# ---- data ----
data/dms/
data/raw/
data/processed/to241030/
data/processed/to250516/

# ---- DepCoV caches ----
DeepCoV/dataset/__pycache__/
DeepCoV/model/__pycache__/
DeepCoV/utils/esm/__pycache__/

# ---- generalization ----
generalization/continue/checkpoints/
generalization/continue/plots/
generalization/continue/results/
generalization/spike/checkpoints/
generalization/spike/results/
generalization/spike/plots/
generalization/update/plots/
generalization/update/results/
generalization/XBB_era/checkpoints/
generalization/XBB_era/results/
generalization/XBB_era/plots/


# ---- insilico_mutational_hotspot_scanning ----
insilico_mutational_hotspot_scanning/bak/
insilico_mutational_hotspot_scanning/config/
insilico_mutational_hotspot_scanning/data/
insilico_mutational_hotspot_scanning/.ipynb_checkpoints/
insilico_mutational_hotspot_scanning/results/

# ---- predict ----
predict/checkpoints/
predict/results/rbd_single_JN1era/TestFull_metrics-step-36410.csv
predict/results/rbd_single_JN1era/TestFullRegions2022-08-01to2024-05-01_metrics-step-36410.csv
predict/results/rbd_single_JN1era/TestFullRegions2022-08-01to2024-05-01_regres_outputs_labels-step-36410.csv
predict/results/rbd_single_JN1era/TestFull_regres_outputs_labels-step-36410.csv

# ---- preprocessing ----
preprocessing/.ipynb_checkpoints/
preprocessing/__pycache__/
preprocessing/sh/
preprocessing/tmp/

# ---- spatiotemporal_evaluation ----
spatiotemporal_evaluation/bak/
spatiotemporal_evaluation/dynamic_assessment_under_variable_prevalence_threshold/bak/
spatiotemporal_evaluation/dynamic_assessment_under_variable_prevalence_threshold/results/
spatiotemporal_evaluation/dynamic_assessment_under_variable_prevalence_threshold/sh/
spatiotemporal_evaluation/dynamic_assessment_under_variable_prevalence_threshold/submit_calc.sh
spatiotemporal_evaluation/plots/

# ---- othes ----
bak/
website/
wandb/

# global
__pycache__/
*.pyc
*.log